@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html {
    scroll-behavior: smooth;
}

body {
  font-family: 'JetBrains Mono', monospace;
  background: linear-gradient(to bottom, #8360c3, #2ebf91);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    gap: 300px;
}

nav ul li a {
    font-size: 24px;
    color: black;
    margin: 15px 0px 15px 0px;
    text-decoration: none;
}

nav ul li a:hover{
    color:aqua
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: rgba(255, 255, 255, 0.2);
    width: 820px;
    height: 50px;
    margin: auto;
    border-radius: 30px;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 15px;
}

section {
    opacity: 0;                         
    transform: translateY(40px);        
    transition: 
      opacity 0.8s ease-out, 
      transform 0.8s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

.photo-juliette {
    width: 345px;
    height: auto;
    border-radius: 37px;
    transition: transform 0.5s ease;

}

.photo-juliette:hover {
    transform: scale(1.05);

}

.presentation {
    display: flex;
    flex-direction: column;
    width: 886px;
    margin: auto;
    position: relative;
    margin-top: 200px;
}

.presentation div {
    display: flex;
}

.presentation div div h2 {
    font-size: 40px;
}

.presentation div div p {
    font-size: 24px;
}

.presentation div div{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 50px;
}

h1 {
    font-size: 52px;
    width: 558px;
    margin: auto;
    text-align: center;
    position: relative;
    margin-bottom: 70px;
    scroll-margin-top: 100px;

}

.card {
    background-color: rgba(255, 255, 255, 0.2);
    width: 377px;
    height: 475px;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background 0.5s ease;
}

.card:hover {
    /* background: linear-gradient(135deg, #a18cd1 0%, #fbc2eb 100%); */
    background-color: rgba(255, 255, 255, 0.4);
  }

/* .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
} */

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 39px;
}

.card p {
    font-size: 26px;
    text-align: center;
}

.card img {
    width: 248px;
    display: relative;
    margin: auto;
    clip-path: inset(0 0 20% 0);
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.02);
}

.tools div, .clients div {
    display: flex;
    direction: row;
    gap: 45px;
    flex-wrap: wrap;
    justify-content: center;
}

.tools div img, .clients div img {
    height: 70px;
}

.cards-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(593px, 1fr));
    gap: 20px;
    max-width: 1206px;
    margin: auto;
    justify-items: center;
}

.card-1 {
    background-color: rgba(255, 255, 255, 0.2);
    width: 593px;
    height: 369px;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-1 p {
    width : 473px;
}

.card-1 img {
    width: 473px;
}

.credits h3, .credits div {
    text-align: center;
}

footer {
    height: 200px;
}
